<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Localy</th>
                        <th scope="col">Country</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let circuit of circuitData" >
                        <td>{{circuit.circuitName}}</td>
                        <td>{{circuit.Location.locality}}</td>
                        <td>{{circuit.Location.country}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
